---
layout: landing.ejs
dest: zh-CN/index.html
locale: zh-CN
---

<div class="bg-blue-light">
    <div class="container mx-auto py-8 px-4 md:px-0">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 my-8">
                <h1 class="text-5xl leading-tight text-white">使用 Vue.js 和 NativeScript 构建原生应用</h1>

                <p class="w-4/5 leading-loose text-white mt-4">
                    想要在无需学习新语言的麻烦下发布你梦寐以求的应用程序吗？

                    NativeScript-Vue 是你最好的选择！
                </p>

                <a href="/en/docs/introduction"
                   class="px-8 py-4 inline-block bg-green text-white font-bold text-lg no-underline mt-8">
                    快速开始
                </a>
            </div>

            <div class="hidden md:block md:w-1/2 my-8">
                <img class="w-auto" src="https://art.nativescript-vue.org/misc/phone.svg" alt="phone">
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto py-8 px-4 md:px-0">
    <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/3 px-4">
            <h2 class="text-blue-dark">快速上手</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vue 非常容易上手，它是一个可以通过 npm 安装的依赖项。
            </p>
        </div>

        <div class="w-full md:w-1/3 mt-8 md:mt-0 px-4">
            <h2 class="text-blue-dark">熟悉的语法</h2>

            <p class="text-blue-dark leading-normal">
                NativeScript-Vue 可以让你使用 Vue.js 的语法来构建原生应用。
            </p>
        </div>

        <div class="w-full md:w-1/3 mt-8 md:mt-0 px-4">
            <h2 class="text-blue-dark">极速开展工作</h2>

            <p class="text-blue-dark leading-normal">
                使用 NativeScript-Vue 不必学习新的语言就可以以最快速度的开始构建你的应用程序。
            </p>
        </div>
    </div>
</div>

<div class="text-center px-4 md:px-0">
    <h1 class="text-blue-dark font-light">赞助商</h1>

    <div class="flex flex-wrap justify-center my-8">
        <a href="https://www.privateinternetaccess.com/?source=nativescript-vue.org"
           target="_blank"
           rel="noopener"
           class="p-4">
            <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/pia.png"
                 alt="PrivateInternetAccess">
        </a>
        <a href="https://kiwiirc.com/?source=nativescript-vue.org"
           target="_blank"
           rel="noopener"
           class="p-4">
            <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/kiwiirc.png"
                 alt="KiwiIRC">
        </a>
        <a href="https://www.progress.com/?source=nativescript-vue.org"
           target="_blank"
           rel="noopener"
           class="p-4">
            <img class="max-h-16 w-auto" src="https://art.nativescript-vue.org/sponsors/progress.png"
                 alt="Progress">
        </a>
    </div>
</div>